    body {
        margin: 8px 0;
        background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
        overflow-y: hidden;
    }
    
    p {
        font-family: 'Amatic SC', cursive;
        font-size: 32px;
        font-weight: 700;
        color: #b490ca;
        position: absolute;
        left: 45%;
        top: 5px;
    }
    
    #lights {
        margin: 0 10px;
        padding: 10px 15px 10px 15px;
        background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
        border: none;
        border-radius: 10px;
        font-family: 'Amatic SC', cursive;
        font-size: 24px;
        position: absolute;
        right: 0%;
        bottom: 8px;
    }
    
    #lights:hover {
        cursor: pointer;
    }
    
    .night {
        height: 80vh;
        width: 70vw;
        border: 1px solid black;
        margin: 5rem auto;
        background: url("./assets/image_1.png");
        background-size: cover;
        position: relative;
        box-shadow: 1px 2px 60px rgba(0, 0, 0, 0.4);
        overflow-x: hidden;
    }
    
    .surface {
        height: 140px;
        width: 500%;
        background: url("./assets/image_02.png");
        display: block;
        position: absolute;
        left: 0%;
        bottom: 0%;
        background-repeat: repeat-x;
    }
    
    .car {
        position: absolute;
        bottom: 8%;
        left: 24%;
    }
    
    @keyframes moveRight {
        100% {
            transform: translateX(-2950px);
        }
    }
    
    @keyframes suspension {
        100% {
            transform: translateY(-1px);
        }
        50% {
            transform: translateY(2px);
        }
        0% {
            transform: translateY(-1px);
        }
    }
    
    .moveRight {
        animation: moveRight 6s linear infinite;
    }
    
    .suspension {
        animation: suspension 1s linear infinite;
    }